* {
  margin: 0;
  padding: 0;
}

.footer {
  padding-block: 30px;
  border-top: 1px solid rgba(128, 128, 128, 0.505);
  display: flex;
  justify-content: space-between;
}

.footer ul li {
  list-style: none;
  font-size: 13px;
  color: #000000a5;
  padding: 5px 0;
  font-size: 11.5px;
}
.footer ul li:first-child {
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer p {
  padding-block: 20px;
  font-size: 14px;
}

.footer-bottom {
  border-top: 1px solid rgba(128, 128, 128, 0.505);
  padding-block: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
